html,body {
    padding: 0;
    margin: 0;
}

body {
    margin: 15px;
    background-color: #f2f3f5;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-form {
    padding: 30px;
}